.aniimg {
    animation: picAni 1s;
   
    margin-left: 100px;
    width: 100px;
  }
  
  @keyframes picAni {
    from {
     
        margin-left: 100px;
    }
 
  
    to {
        
        margin-left:215px;
        margin-top:135px;
        width: 30px;
        border-radius: 50%;
        
    }
  }

