


.mystyle {
  animation: myAnim 1s ease 0s 1 normal none;
    
  }
  @keyframes myAnim {
    0% {
      opacity: 1;
      transform: translateX(0) rotate(0deg);
    }
  
    100% {
      opacity: 0;
      transform: translateX(-250px) rotate(-200deg);
    }
  }