
body{
    font-family: poppins;
}

.carAni{
    position: relative;
    animation: carAnimation 5s infinite;
}

.deleveryFeeCount{
    position: relative;
    animation: deleveryFeeCountAni 5s infinite;
}
  
  @keyframes carAnimation {
    0% {left: 0px;
        font-size: 5px;
    }

    85% {left: 150px;
        font-size: 20px;
        opacity: .5;}
       
    100% {left: 0px;
        font-size: 5px}
  }

  @keyframes deleveryFeeCountAni {
    0% {margin-left: 0px;}
   
    50% {margin-left: 150px;}
  
      
    100% {margin-left: 0px;}
       
  }